In [6]:
import re 
import pandas as pd
#delititado por espaço

exemplo = input('digite uma sentença \n')

#exemplo = '42 + ( 675 * 31 ) - 20925 -01'

operations=[]
teste =re.split(r' ', exemplo)

x1= filter(lambda i: re.search(r'(?i)\d',i,re.I), teste)
numeros= list(x1)
x2 =filter(lambda i:re.search(r'\(', i),teste)
x_parentEsqu=list(x2)
x3 =filter(lambda i:re.search(r'\)', i),teste)
x_parentDire=list(x3)
for i in teste:
    if re.findall(r'[- / * + ** =]',i):
        operations.append(i)

table_of_operations = {'*':'Mutiplicacao', '**':'Potenciacao','+':'Soma', '-':'Subtracao', '/': 'Divisao'} 
table_of_parenthesis={'(':'ParentEsq', ')':'ParentDir'}
table_of_types = {}


valor=[]
#primeiro para Operador
for i in teste:
    if i in operations and len(i) <=2 :
        valor.append(table_of_operations[i])
    elif i in x_parentEsqu:
        valor.append(table_of_parenthesis[i])
    elif i in x_parentDire:
        valor.append(table_of_parenthesis[i])    
    else :
        valor.append(i)
        
        
tipo=[]
#primeiro para Operador
for i in teste:
    if i in operations and len(i) <=2 :
        tipo.append('Operador')
    elif i in x_parentEsqu:
        tipo.append('Pontuação')
    elif i in x_parentDire:
        tipo.append('Pontuação')    
    else :
        tipo.append('Numero')     
        
result =list(zip(teste,tipo,valor))

digite uma sentença
23 - 02 + ( 6 ** 2 )  -04

In [7]:

df2 = pd.DataFrame([
      result[0],
      result[1],
      result[2],
      result[3],
      result[4],
      result[5],
      result[6],
      result[7],
      result[8],
      result[9],
      result[10]
    ],
  columns=['Lexema', 'Tipo','Valor']
)

In [8]:
df2

   Lexema       Tipo        Valor
0      23     Numero           23
1       -   Operador    Subtracao
2      02     Numero           02
3       +   Operador         Soma
4       (  Pontuação    ParentEsq
5       6     Numero            6
6      **   Operador  Potenciacao
7       2     Numero            2
8       )  Pontuação    ParentDir
9             Numero
10    -04     Numero          -04