In [130]:
import re 
import pandas as pd
#delititado por espaço

#exemplo = input('digite uma sentença \n')
exemplo = '42 +                  ( 675 * 31 ) - 20925 -1'


#criando os erros caso passe algo nao aceito
#se eu passar uma string ele deve emitir um erro

#remover os os espaços em exceço
demo = " ".join(exemplo.split())

operations=[]
teste =re.split(r' ', demo)


x1= filter(lambda i: re.search(r'(?i)\d',i,re.I), teste)
numeros= list(x1)
x2 =filter(lambda i:re.search(r'\(', i),teste)
x_parentEsqu=list(x2)
x3 =filter(lambda i:re.search(r'\)', i),teste)
x_parentDire=list(x3)
for i in teste:
    if re.findall(r'[- / * + ** =]',i):
        operations.append(i)

table_of_operations = {'*':'Mutiplicacao', '**':'Potenciacao','+':'Soma', '-':'Subtracao', '/': 'Divisao'} 
table_of_parenthesis={'(':'ParentEsq', ')':'ParentDir'}
table_of_types = {}


valor=[]
#primeiro para Operador
for i in teste:
    if i in operations and i not in numeros :
        valor.append(table_of_operations[i])
    elif i in x_parentEsqu:
        valor.append(table_of_parenthesis[i])
    elif i in x_parentDire:
        valor.append(table_of_parenthesis[i])    
    else :
        valor.append(i)
        
        
tipo=[]
#primeiro para Operador
for i in teste:
    if i in operations and i not in numeros:
        tipo.append('Operador')
    elif i in x_parentEsqu:
        tipo.append('Pontuação')
    elif i in x_parentDire:
        tipo.append('Pontuação')    
    else :
        tipo.append('Numero')     
        
result =list(zip(teste,tipo,valor))

In [135]:
teste

['42', '+', '(', '675', '*', '31', ')', '-', '20925', '-1']

In [132]:

df2 = pd.DataFrame([
      result[0],
      result[1],
      result[2],
      result[3],
      result[4],
      result[5],
      result[6],
      result[7],
      result[8]
    ],
  columns=['Lexema', 'Tipo','Valor']
)

In [133]:
df2

  Lexema       Tipo         Valor
0     42     Numero            42
1      +   Operador          Soma
2      (  Pontuação     ParentEsq
3    675     Numero           675
4      *   Operador  Mutiplicacao
5     31     Numero            31
6      )  Pontuação     ParentDir
7      -   Operador     Subtracao
8  20925     Numero         20925

In [74]:
result

[('42', 'Numero', '42'),
 ('+', 'Operador', 'Soma'),
 ('(', 'Pontuação', 'ParentEsq'),
 ('675', 'Numero', '675'),
 ('*', 'Operador', 'Mutiplicacao'),
 ('31', 'Numero', '31'),
 (')', 'Pontuação', 'ParentDir'),
 ('-', 'Operador', 'Subtracao'),
 ('20925', 'Numero', '20925'),
 ('-1', 'Numero', '-1')]

## Possiveis erros
* passar uma string ele quebra 
* solução (jogar um try catch para emitir uma mensagem de erro)
* Deixar a quantidade de posiçoes do Dataframe dinamica